/*! suit-button v3.0.0 | MIT License | github.com/suitcss */

/* ==========================================================================
   SUIT: Button
   ========================================================================== */

:root {
  var-border-width-Button: 1px;
  var-border-color-Button: currentcolor;
  var-color-Button: inherit;
  var-font-Button: inherit;
  var-padding-Button: 0.4em 0.75em;
  var-opacity-Button-disabled: 0.6;
}

/**
 * The button classes are best applied to links and buttons.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 *
 * Recommended use:
 *
 * <a class="Button [Button--modifier]" role="button" href="[url]">Button text</a>
 * <button class="Button [Button--modifier]" type="submit">Button text</button>
 */

/**
 * 1. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 2. Inherit text color from ancestor.
 * 3. Inherit font styles from ancestor.
 * 4. Prevent button text from being selectable.
 */

.Button {
  background: transparent;
  border-color: var(border-color-Button);
  border-style: solid;
  border-width: var(border-width-Button);
  box-sizing: border-box; /* 1 */
  color: var(color-Button); /* 2 */
  cursor: pointer;
  display: inline-block;
  font: var(font-Button); /* 3 */
  margin: 0;
  padding: var(padding-Button);
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none; /* 4 */
}

/**
 * UI states
 */

.Button:hover,
.Button:focus,
.Button:active {
  text-decoration: none;
}

.Button:disabled,
.Button.is-disabled {
  cursor: default;
  opacity: var(opacity-Button-disabled);
}

/**
 * Remove excess padding and border in Firefox 4+
 */

.Button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
